.login_page{
    display: flex;
    flex-direction: column;
}
.login_page_form{
    display: flex;
    flex-direction: column;
    
}
.login_page_form input{
    width:200px;
    padding: 5px;
    margin: auto;
}
.login_page_form label{
    padding-right:150px;
    margin: 10px;
}
.login_login_button, .goback_button{ 
    width:100px;
    height: 25px;
    margin: 20px 10px;
}