html, body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    text-align: center;
}
.start_page {
    text-align: center;
}

.start_page_buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.create_account_button, .login_button {
    width:200px;
    height: 50px;
    margin: auto;
}
h2{
    margin:auto;
    
}
.delete_game_warning_page{
    margin-left: auto;
    margin-right: auto;
    margin: 20px;
}
.can_not_lettering{
    font-size: 2em;
}
.delete_game_form{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.delete_input{
    width:100px;
    margin: 10px auto;
    padding:5px;
    border: 2px solid #ff0000
}
.button_span{
    margin-left: auto;
    margin-right: auto;
}
.go_back_button{
    width:100px;
    height: 25px;
    margin:10px 20px;
}
.game_delete_button{
    width: 100px;
    height: 25px;
    margin:10px 20px;
    border: none;
    background: #ff0000;
    color: #ffffff;
}
.game_rules_page{
    padding:20px;
}

.flex_footer{
    position: fixed;
    bottom: 0;
    margin-bottom: 20px;
}
.bet_pot_container{
    display: flex;
    flex-direction: row;
}
.test_flex_container{
    flex: 1;
    display: flex;
    flex-direction: row;
}
.play_buttons_span{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.bet_select{
    width: 50px;
}
.start_button, .stay_button{
    width: 100px;
    height: 25px;
    margin: auto;
}

.card{
    width:100px;
    height: 150px;
    border: 1px solid #000000;
    margin: 10px;
}

.game_table{
    display: flex;
    flex-direction: column;
}

.dealer_cards{
    display:flex;
    margin: auto;
}
.player_cards{
    display: flex;
    margin: auto;
}

.hit_button{
    width: 100px;
    height: 25px;
    margin: auto;
}

.new_deal_button{
    width: 100px;
    height: 25px;
    margin: auto;
}
.game_rules_page p{
    text-align: left;
}